
<ion-content fullscreen class="ion-padding" scroll-y="false">

  <ion-text class="ion-text-center">
    <h1><strong>Welcome back!</strong></h1>
  </ion-text>
  <ion-text class="ion-text-center">
    <p>Log in with your email to start</p>
  </ion-text>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item lines="none">
              <ion-text>ACCOUNT INFORMATIONS</ion-text>
            </ion-item>
            <ion-item lines="none" >
              <ion-input placeholder="Email" class="rounded" type="email"
                         ngModel name="email"
                         required
              > </ion-input>
            </ion-item>
            <ion-item  lines="none">

              <ion-input placeholder="Password" class="rounded" type="password"
                         ngModel
                         name="password"
                         minlength="8"
              ></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-nav-link>
                <ion-text>Forgot your password?</ion-text>
              </ion-nav-link>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" expand="block" type="submit" (click)="onLogin()">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
            <ion-text>Dont have an account? Sign Up</ion-text>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
